/******************/
/* CSS VARIABLES */
/****************/

:root{
    
    /***************/
    /*** COLORS ***/
    /*************/
    --blue:#14406c;
    --dark-blue:#0a1727;
    --dark-cream:#e2cd66;
    --light-cream:#edd9b7;
    
    /*************/
    /*** SIZE ***/
    /***********/

    --navegation-height:50px;
    --settings-width:400px;

    /*******************/
    /*** Font sizes ***/
    /*****************/

    /* Title font size */
    --min-title-size:32px;
    --max-title-size:52px;
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200 - 1800px:  Desktop             [Default style]
1800px +  :     Big desktop

$breakpoint argument options
- phone
- tab-port
- tab-land
- big-desktop
*/
/* 1em = 16px*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: tab-land) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: tab-port) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  overflow-x: hidden; }


  /**************/
/***GENERAL***/
/************/

.non-scroll{
    overflow: hidden;
}

.flex-container{
    align-items: center;
    display: flex;
    justify-content: center;
}

/*************/
/***HEADER***/
/***********/

.header-container{
    background-color: var(--dark-blue);
    height: var(--navegation-height);
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

.logo-img{
    height: 100%;
    padding: 12.5px;
    width: auto;
    z-index: 2;
}

.menu-container{
    background: linear-gradient(180deg, var(--dark-blue), var(--blue));
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    left: -300vw;
    padding-top: 10px;
    position: fixed;
    top: 50px;
    transition-duration: 0.35s;
    width: 100%;
    z-index: 3;
}

.menu-link{
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    height: fit-content;
    letter-spacing: 3px;
    padding: 10px 20px;
}

.menu-selection{
    text-decoration: underline;
    text-decoration-color: var(--dark-cream);
    text-decoration-thickness: 3px;
}

.menu-burger-button{
    align-items: center;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    height: 50px;
    justify-content: center;
    width: 50px;
}

.menu-settings-button{
    align-items: center;
    background-color: var(--dark-blue);
    border-radius: 50px;
    border: none;
    bottom: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    height: 50px;
    justify-content: center;
    margin: 0;
    padding: 10px;
    position: fixed;
    right:10px;
    transition-duration: 0.35s;
    width: 50px;
    z-index: 2;
}

.show-menu{
    left: 0px;
    text-align: center;
}   


/*************/
/***FOOTER***/
/***********/

.footer-container{
    background-color: var(--dark-blue);
    height: fit-content;
    padding: 5px 0;
}

.footer-container p {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.social-media{
    background-color: var(--light-cream);
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    margin: 5px;
    width: 30px;
}

/********************/
/* Responsive text */
/******************/

/* sintax  linear responsive text [min font size + (max font size - min font size) * ((viewport width - min viewport width) / (max viewport width - min viewport width))] */

.fluid-font-title{
    font-size: var(--min-title-size)
}

/* Scren with a width equal or bigger than 320px  */
@media screen and (min-width: 320px) {
    
    .fluid-font-title{
        font-size: calc(var(--min-title-size) + 20 * ((100vw - 320px) / 1600)) ;
    }
}


/* Scren with a width equal or bigger than 1920px  */
@media screen and (min-width: 1920px) {

    .fluid-font-title{
        font-size: var(--max-title-size);
    }
}

/**********************/
/* Responsive design */
/********************/

/**********************/
/* Mobile (landscape)*/
/********************/

/*** Only works for mobiles in landscape with resulution of height : 412 px with width: > 412 px ***/

@media (max-height:412px) and (orientation:landscape){
    
    .settings-sub-sub-container{
        flex-wrap:nowrap;
    }
}

/******************/
/* DESKTOP STYLE */
/****************/

/***********************************/
/* Desktop and tablet (landscape) */
/*********************************/

/*********************/
/* Only break point */
/*******************/
/* 
   --------------------------  Explication -> ipad resolution is 768 x 1024px in vertical postion
   |                        |                 is considered as a smartphone, but in 1024 x 768px 
   |                        |                 is considered as a computer, this break point consider
   |     916 x 412 px       |                 that only exist two design mobile or desktop,the bigger
   |                        |                 resolution in phone founded was 411 x 812px, so we take
   |                        |                 the limit values of resolution as following: width:768+1px
   --------------------------                 and height:411+1px up this are computer down this are a phone
*/

@media (min-height:412px) and (min-width: 916px) {
    
    /*************/
    /***HEADER***/
    /***********/

    .menu-burger-button{
        display: none;
    }

    .menu-container{
        align-items: center;
        background: transparent;
        flex-direction: row;
        height: 50px;
        justify-content: center;
        padding-top: 0;
        position: static;
        width: fit-content;
    }

    .menu-settings-button{
        display: none;
    }

}


/***********/
/***MAIN***/
/*********/



.heading-primary {
  font-weight: 800;
  color: var(--dark-blue);
  letter-spacing: 0.1rem; }

.title-article:link, .title-article:visited {
  font-weight: 700;
  width: fit-content;
  color: var(--dark-blue);
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s; }

.title-article:hover, .title-article:active {
  color: #9bd4e4; }

.title-article-big {
  font-size: 3.6rem; }

.title-article-med {
  font-size: 3rem; }

.title-article-small {
  font-size: 2.4rem; }

.author-article {
  font-weight: 500;
  width: fit-content;
  color: var(--blue);
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s; }

.author-article-big {
    font-size: 1.6rem; }


.author-article-small {
    font-size: 1.4rem; }

.description-article-big {
  font-size: 2rem;
  line-height: 1.5; }

.description-article-med {
  font-size: 1.6rem;
  line-height: 1.4; }


.description-article-small {
  font-size: 1.4rem;
  line-height: 1.1; }
  @media only screen and (max-width: 32em) {
    .description-article-small {
      display: none; } }

.article-link{
  font-size: 2rem;
  text-decoration: none;
  width: auto;
  text-align: right;
  font-weight: bold;
  color: var(--blue);
}

.article-link-small{
  font-size: 1.4rem;
  text-decoration: none;
  width: auto;
  text-align: right;
  font-weight: bold;
  color: var(--blue);
}

.arrow-dropright{
  color: var(--blue);
  text-decoration: none;
}

.p-article {
  font-size: 1.8rem;
  text-align: justify;
  margin-bottom: 2.4rem; }
  @media only screen and (max-width: 37.5em) {
    .p-article {
      font-size: 2.2rem;
      margin: 20px; } }
  @media only screen and (max-width: phone) {
    .p-article {
 
      font-size: 2.2rem; } }
  .p-article-quote {
    border: 1px solid var(--blue);
    border-radius: 10px;
    padding: 2.4rem 3.6rem;
    color: var( --blue);
    font-weight: 700; }

.date-article {
  font-size: 1.4rem;
  font-weight: 700;
  color: #adb5bd; }

.utility-margin-bottom-small {
  margin-bottom: 1.2rem; }

.utility-margin-bottom-med {
  margin-bottom: 2.4rem; }

.utility-margin-bottom-big {
  margin-bottom: 4.8rem; }

.utility-text-center {
  text-align: center; }

.utility-inline-block {
  display: inline-block; }

.utility-float-right {
  margin-left: 3.2rem;
  float: right; }
  @media only screen and (max-width: 37.5em) {
    .utility-float-right {
      margin-left: 0rem;
      float: none; } }
  @media only screen and (max-width: phone) {
    .utility-float-right {
      margin-left: 0rem;
      float: none; } }

.utility-float-left {
  margin-right: 3.2rem;
  float: left; }
  @media only screen and (max-width: 37.5em) {
    .utility-float-left {
      margin-right: 1.6rem; } }
  @media only screen and (max-width: phone) {
    .utility-float-left {
      margin-right: 1.6rem; } }

.utility-flex-centered {
  display: flex;
  justify-content: center;
  align-items: center; }

.utility-container {
  position: relative;
  max-width: 130rem;
  margin: 0 auto; }

.utility-height-full {
  height: 100%; }

.utility-padding-small {
  padding: 1.2rem; }

.utility-grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 32em) {
    .utility-grid-2-cols {
      grid-template-columns: 1fr; } }

.btn-like {
  font-size: 1.4rem;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  border: 1px solid #5757ce;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  background-color: #fff;
  color: #5757ce;
  align-self: flex-end;
  transition: all 0.2s; }
  .btn-like:hover {
    color: #fff;
    background-color: #15161c;
    border: 1px solid #15161c;
    cursor: pointer;
    font-weight: 700; }
  .btn-like-big {
    font-size: 1.6rem;
    height: 4.4rem;
    padding: 0.8rem 1.2rem; }
    .btn-like-big-centered {
      align-self: auto; }





.btn-return {
  position: sticky;
  left: 95%;
  top: 90%;
  z-index: 1;
  background-color: var(--blue);
  color: var(--dark-blue);
  width: 60px;
  height: 60px;
  
  font-size: 2rem;
  border: none;
  border-radius: 50%; }
  .btn-return:hover {
    cursor: pointer; }

.img-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  position: relative;
  overflow: hidden;}
  .img-btn > img {
    transition: all 0.2s; }
  .img-btn:hover > img {
    filter: blur(2px) brightness(0.8);
    transform: scale(1.1); }
  .img-btn::after {
    content: "LEER MÁS";
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.2s; }
  .img-btn:hover::after {
    opacity: 100%;
    top: 50%; }

.img-container {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1.6rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .img-container--big {
    width: 50%;
    aspect-ratio: 16 / 9; }
    @media only screen and (max-width: 37.5em) {
      .img-container--big {
        width: 100%; } }
    @media only screen and (max-width: phone) {
      .img-container--big {
        width: 100%; } }
  .img-container--small {
    width: 25%;
    aspect-ratio: 16 / 9; }
    @media only screen and (max-width: 37.5em) {
      .img-container--small {
        display: none; } }
    @media only screen and (max-width: phone) {
      .img-container--small {
        display: none; } }
  .img-container img {
    width: 100%;
    height: 100%; }

.article-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.article-img {
  width: 100%;
  aspect-ratio: 16 / 9; }
  .article-img-big {
    height: auto; }

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.carousel-item {
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0%;
  transition: all 0.4s;
  padding: 0 2.4rem; }

.carousel-view {
  width: 100%;
  height: 50rem;
  overflow: hidden;
  position: relative; }

.btn-carousel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--blue);
  background-color: #fff;
  color: var(--blue);
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100px; }
  .btn-carousel:hover {
    cursor: pointer; }
  .btn-carousel--left {
    top: 50%;
    left: -1.5%;
    transform: translate(-50%, -50%); }
  .btn-carousel--right {
    top: 50%;
    right: -1.5%;
    transform: translate(50%, -50%); }

.card-container {
  height: 100%;
  display: flex;
  flex-direction: column; }

.card-img-box {
  height: 40%; }




.newest {
  max-width: 130rem;
  margin: 0 auto;
  column-gap: 4.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 46.875em) {
    .newest {
      grid-template-columns: 1fr; }
      .newest-img-box {
        grid-row: 1; } }



/* ********* NEWSLETTER SECTION ********* */


.newsletter-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-img{
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newsletter-form{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.newsletter-content h3{
  font-size: 3.6rem;
  font-weight: 500;
  color: #15161c;
  text-align: center;
}

.newsletter-content span{
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--blue);
  text-align: center;
  margin-top: 15px;
}

.form-input{
  height: 40px;
  font-size: 2rem;
  color: var(--blue);
  border-radius: 8px;
  border-color: var(--blue);
  box-shadow: 0 0 0;
}

.submit-button{
  margin: auto;
  margin-top: 15px;
  height: 40px;
  font-size: 2.4rem;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  width: 60%;
  background-color: var(--dark-blue);
}

.submit-button:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}



@media (max-width:750px) {
  .newsletter-content{
    flex-direction: column;
  }
  .form-img{
    width: 70%;
    margin: auto;
  }
  .newsletter-form{
    width: 100%;
  }
}



/*  */
.heading-box {
  width: 45%; }
  @media only screen and (max-width: 46.875em) {
    .heading-box {
      width: 100%; } }

.article-example {
  margin-top: 4.8rem;
  padding: 0 12.8rem; }
  @media only screen and (max-width: 56.25em) {
    .article-example {
      padding: 0 8rem; } }
  @media only screen and (max-width: tab-port) {
    .article-example {
      padding: 0 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .article-example {
      padding: 0 2rem; } }
  @media only screen and (max-width: phone) {
    .article-example {
      padding: 0 2rem; } }

.info-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between; }

.author-box {
  display: flex;
  gap: 1.2rem; }

.author-img {
  height: 7rem;
  width: 7rem;
  border-radius: 100px;
  overflow: hidden; }
  .author-img img {
    width: 100%;
    height: 100%; }

.author-name {
  font-size: 1.6rem;
  font-weight: 700; }

.author-links{
  display: flex;
  gap: 1.2rem;
  list-style: none;
  justify-content: center; 
  color: var(--dark-blue);}

.author-link {
  color: var(--blue);
  font-size: 2rem; }

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9.6rem; }

.section-related {
  padding: 9.6rem 4.8rem;
  border-top: 1px solid #eaebfa; }

.section-newest {
  padding: 4.8rem 4.8rem 9.6rem 4.8rem;
  border-bottom: 1px solid #eaebfa; }

.section-featured {
  padding: 9.6rem 4.8rem;
  border-bottom: 1px solid #eaebfa; }

.section-exploration {
  padding: 9.6rem 4.8rem;
  border-bottom: 1px solid #eaebfa; }

.section-newsletter {
  padding: 9.6rem 4.8rem; }
