//COLORS
$color-primary: #5757ce;
$color-primary-light: #959ce8;
$color-primary-very-light: #eaebfa;
$color-primary-dark: #15161c;

$color-secondary: #9bd4e4;

$color-tertiary: #ffbd59;

$color-white: #fff;

$color-black: #000;

$color-gray: #868e96;
//FONT SIZE
$default-font-size: 1.6rem;
