.img-container {
  &--big {
    width: 50%;
    height: 30rem;

    @include respond(phone) {
      width: 100%;
    }
  }

  &--small {
    width: 25%;
    height: 15rem;

    @include respond(phone) {
      display: none;
    }
  }

  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1.6rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  img {
    width: 100%;
    height: 100%;
  }
}
