.swiper {
  max-width: 120rem;
  height: 40rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  position: relative;
  background-color: inherit;
}

.slide-btn {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  background-color: $color-primary;
  color: $color-white;
  top: 50%;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(1.1);
  }

  &-prev {
    left: 0;
  }

  &-next {
    right: 0;
  }
}
