.heading-primary {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;

  background-image: linear-gradient(
    to right,
    $color-primary,
    $color-primary-light
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
}

.title__article {
  &:link,
  &:visited {
    font-weight: 700;
    width: fit-content;
    color: $color-primary;
    text-decoration: none;
    display: inline-block;

    transition: all 0.2s;
  }

  &:hover,
  &:active {
    color: $color-secondary;
  }

  &__big {
    font-size: 3.6rem;
  }

  &__med {
    font-size: 3rem;
  }

  &__small {
    font-size: 2.4rem;
  }
}

.author__article {
  &:link,
  &:visited {
    font-weight: 700;
    width: fit-content;
    color: $color-black;
    text-decoration: none;
    display: inline-block;

    transition: all 0.2s;
  }

  &:hover,
  &:active {
    color: $color-secondary;
  }

  &__big {
    font-size: 1.6rem;
  }

  &__small {
    font-size: 1.4rem;
  }
}

.description__article {
  &__big {
    font-size: 2rem;
    line-height: 1.5;
  }

  &__med {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  &__small {
    font-size: 1.4rem;
    line-height: 1.1;
  }
}

.p__article {
  font-size: 1.8rem;
  text-align: justify;
  margin-bottom: 2.4rem;

  &__quote {
    border: 1px solid $color-primary;
    border-radius: 5px;
    padding: 2.4rem 3.6rem;
    color: $color-primary-light;
    font-weight: 700;
  }
}

.date__article {
  font-size: 1.4rem;
  font-weight: 700;
  color: $color-gray-light;
}
