.heading-primary {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;

  background-image: linear-gradient(
    to right,
    $color-primary,
    $color-primary-light
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
}

.title-article {
  &:link,
  &:visited {
    font-weight: 700;
    width: fit-content;
    color: $color-primary;
    text-decoration: none;
    display: inline-block;

    transition: all 0.2s;
  }

  &:hover,
  &:active {
    color: $color-secondary;
  }

  &-big {
    font-size: 3.6rem;
  }

  &-med {
    font-size: 3rem;
  }

  &-small {
    font-size: 2.4rem;
  }
}

.author-article {

  font-weight: 700;
  width: fit-content;
  color: $color-black;
  text-decoration: none;
  display: inline-block;

  transition: all 0.2s;
  

  &:hover{
    color: $color-secondary;
  }

  &-big {
    font-size: 1.6rem;
  }

  &-small {
    font-size: 1.4rem;
  }
}

.description-article {
  &-big {
    font-size: 2rem;
    line-height: 1.5;
  }

  &-med {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  &-small {
    font-size: 1.4rem;
    line-height: 1.1;

    //512px
    @include respond(32em) {
      display: none;
    }
  }
}

.p-article {
  font-size: 1.8rem;
  text-align: justify;
  margin-bottom: 2.4rem;

  @include respond(phone) {
    text-align: left;
    font-size: 2.2rem;
  }

  &-quote {
    border: 1px solid $color-primary;
    border-radius: 5px;
    padding: 2.4rem 3.6rem;
    color: $color-primary-light;
    font-weight: 700;
  }
}

.date-article {
  font-size: 1.4rem;
  font-weight: 700;
  color: $color-gray-light;
}
