.utility-margin-bottom-small {
  margin-bottom: 1.2rem;
}

.utility-margin-bottom-med {
  margin-bottom: 2.4rem;
}

.utility-margin-bottom-big {
  margin-bottom: 4.8rem;
}

.utility-text-center {
  text-align: center;
}

.utility-inline-block {
  display: inline-block;
}

.utility-float-right {
  margin-left: 3.2rem;
  float: right;

  @include respond(phone) {
    margin-left: 0rem;
    float: none;
  }
}

.utility-float-left {
  margin-right: 3.2rem;
  float: left;

  @include respond(phone) {
    margin-right: 1.6rem;
  }
}

.utility-flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.utility-container {
  position: relative;
  max-width: 130rem;
  margin: 0 auto;
}

.utility-height-full {
  height: 100%;
}

.utility-padding-small {
  padding: 1.2rem;
}

.utility-grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  //512px
  @include respond(32em) {
    grid-template-columns: 1fr;
  }
}
