.u-margin-right {
  margin-right: auto;
}

.u-margin-bottom-med {
  margin-bottom: 2.4rem;
}

.u-margin-bottom-big {
  margin-bottom: 4.8rem;
}

.u-text-center {
  text-align: center;
}

.u-inline-block {
  display: inline-block;
}

.u-float-right {
  margin-left: 3.2rem;
  float: right;
}

.u-float-left {
  margin-right: 3.2rem;
  float: left;
}

.u-container {
  position: relative;
  max-width: 130rem;
  margin: 0 auto;
}
