.u-margin-right {
  margin-right: auto;
}

.u-margin-bottom-med {
  margin-bottom: 2.4rem;
}

.u-text-center {
  text-align: center;
}

.u-container {
  position: relative;
  max-width: 130rem;
  margin: 0 auto;
}
