.article {
  &-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-img {
    width: 100%;
    aspect-ratio: 16 / 9;

    &-big {
      height: auto;
    }
  }
}
