.header {
  background-color: $color-primary;
  color: $color-white;
}

.logo {
  width: auto;
  height: 4rem;
}

.main-nav {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.4rem;
  padding: 0 2.4rem;

  &-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;
  }

  &-link:link,
  &-link:visited {
    color: inherit;
    text-decoration: none;
    border-radius: 100px;
    padding: 0.8rem 1.2rem;
    transition: all 0.2s;
  }

  &-link:hover,
  &-link:active {
    color: $color-primary;
    background-color: $color-primary-very-light;
  }
}

.sticky .header {
  position: fixed;
  background-color: rgba($color-primary, 0.95);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6.4rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}
