.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
  padding: 1.2rem;
  color: $color-white;
  background-color: $color-primary;

  &__btn {
    &:link,
    &:visited {
      height: 4.8rem;
      width: 4.8rem;
      font-size: 2.4rem;
      display: inline-block;
      border: none;
      background-color: inherit;
      border-radius: 50%;
      position: relative;

      transition: all 0.1s;
    }

    &:hover {
      box-shadow: 0 0.8rem 0.8rem rgba($color-black, 0.15);
      transform: scale(1.1);
      background-color: #228be6;
    }

    &:visited {
      color: inherit;
    }

    &:active {
      box-shadow: 0 0.3rem 0.3rem rgba($color-black, 0.15);
      transform: scale(1);
    }
  }

  &__icon {
    font-size: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
